.pricing__tier {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem 1rem 3rem;
}

.pricing__price {
    font-size: 24pt;
}

.price__text {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

/* Button style: */
.pricing__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 50px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12pt;
    color: white;
    margin: 0;
}

.pricing__button:hover {
    color: black;
    background-color: white;
    transition: all .33s ease;
}

.pricing__tier-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pricing__tier-rule {
    border: 2px solid lightgrey;
    width: 100%;
}