.about {
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 4rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.about__header {
    text-align: center;
}

.about__paragraph {
    font-size: 20px;
}

.about__headshot {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all .33s ease-in-out;
}

.about__headshot:hover {
    width: 150px;
    height: 150px;
    transition: all .33s ease-in-out;
}

.about__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.about__bold {
    font-size: 22px;
    font-weight: 700;
}