.active__menu {
    margin-bottom: -9px;
    padding-bottom: 9px;
    border-bottom: 2px solid rgb(30, 90, 255);
    color: rgb(30, 90, 255);
}

.inner__navbar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 6rem;
    margin-right: 6rem;
}

.navbar__account {
    display: flex;
    justify-content: flex-end;
    width: 6rem;
    user-select: none;
}

.navbar__account-icon {
    padding-left: .5rem;
    font-size: 22px;
    height: 19px;
}

.navbar__account-icon_two {
    padding-left: .5rem;
    font-size: 19px;
    height: 19px;
}

.menu__nav-two {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

.last__nav-two {
    padding-right: 0;
}

.collapsed__menu-nav_two {
    display: none;
}

@media screen and (max-width: 1050px) {
    .inner__navbar2 {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media screen and (max-width: 850px) {
    .inner__navbar2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .menu__nav-two {
        display: none;
    }

    .collapsed__menu-nav_two {
        display: flex;
    }
}