/* By default, browsers add a bit of margin to the outside of a web-page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Roboto on Google Fonts (OLD) */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;600;800&display=swap"); */

/* Lato on Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --font-family: 'Lato', sans-serif;
  
  /* --color-background: #ffffff;
  --color-footer : #ffffff;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-card: #F5F5F5; */
}