/* Container for entire page */

/* ALTERNATE BETWEEN SIGNUP BG AND SIGNUP PAGE */
.signup__bg {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 103vh;
    background-color: rgba(30,30,30,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -3rem;
}

.login__bg {
    display: flex;
}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 30rem;
    background-color: white;
    border-radius: 10px;
}

.signup__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
}

.signup__header {
    text-align: center;
    margin-bottom: 1rem;
}

/* Container for all inputs  */
.signup__fields {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* First and last name  */
.signup__name-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

/* Styles for each individual input  */
.signup__input {
    border: 3px solid black;
    height: 50px;
    padding: .25rem 1rem .25rem 1rem;
    font-size: 16px;
}

.signup__input:focus {
    border-color: rgb(30,90,255);
}

.signup__input-name {
    flex: 1;
}

/* Sign up button styles  */
.signup__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
    transition: all .33s ease;
}

/* Sign up button hover  */
.signup__button:hover{
    transform: scale(.98);
    background-color: rgb(30, 90, 255);
    transition: all .33s ease;
}

.signup__terms {
    margin-bottom: 1rem;
}

.signup__reset {
    margin-bottom: 1rem;
    text-align: center;
    cursor: pointer;
}

.signup__terms-links {
    color: rgb(30, 90, 255);
}

.signup__signin {
    margin: 0;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.exit__button {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    text-align: right;
    margin: 16px 16px 0px 16px;
}

/* Top right bottom left  */
.signup__content {
    padding: 2rem 3rem 2rem 3rem;
}

.signup__no-visibility {
    display: none;
}

.signup__no-visibility__opp {
    display: block;
}

.signup__question-answer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.close__none {
    display: none;
}

@media screen and (max-width: 1350px) {
    .signup {
        margin: 5rem 25rem;
    }
}

@media screen and (max-width: 1200px) {
    .signup {
        margin: 5rem 20rem;
    }
}

@media screen and (max-width: 1100px) {
    .signup {
        margin: 5rem 15rem;
    }
}

@media screen and (max-width: 850px) {
    .signup {
        margin: 5rem 10rem;
    }
}

@media screen and (max-width: 750px) {
    .signup {
        margin: 5rem 5rem;
    }
}

@media screen and (max-width: 625px) {
    .signup {
        margin: 5rem 2rem;
    }
    
    .signup__content {
        padding: 2rem 1rem 2rem 1rem;
    }

    .signup__login {
        width: 75vw;
    }
}

@media screen and (max-width: 400px) {
    .signup {
        margin: 5rem 1rem;
    }
}