/* Container for entire process section */
.process {
    padding-top: 3rem;
    
    margin-top: 3rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 3rem;
}

/* Header text: "How It Works" */
h4 {
    font-family: var(--font-family);
    font-weight: 700;
}

/* Aligning process header text */
.process__header {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}