/* Container for entire process section */
.process {
    padding-top: 5rem;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 5rem;
    background-color: rgb(227, 234, 255);
}

/* Header text: "How It Works" */
h4 {
    font-family: var(--font-family);
    font-weight: 700;
}

/* Aligning process header text */
.process__header {
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
    .process {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (max-width: 625px) {
    .process {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .process {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
}