.ring {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100px;
  height:100px;
  background:transparent;
  border:15px solid black;
  border-radius:50%;
  text-align:center;

  font-family: var(--font-family);
  line-height: 140px;
  font-size: 20px;

  color: rgb(30,90,255);

  letter-spacing: 3px;
  text-transform:uppercase;
}

.ring:before {
  content:'';
  position:absolute;
  top:-15px;
  left:-15px;
  width:100%;
  height:100%;
  border:15px solid transparent;
  border-top:15px solid rgb(30,90,255);
  border-right:15px solid rgb(30,90,255);
  border-radius:50%;
  animation: lds-ring 1s cubic-bezier(0.33, 0, 0.33, 1) infinite;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}