.error {
    display: flex;
    justify-content: center;
}

.error__text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    color: red;
    background: rgba(255,0,0,.3);
    border: 1px solid red;
    border-radius: 10px;
}