.password__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25rem;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 500px) {
    .password__result {
        width: 80vw;
    }
}