/* Style for entire container */
.questions {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header and subheader of testimonial */
.question__header {
    text-align: center;
}

/* Add margin after the header */
.question__paragraph {
    margin-bottom: 3rem;
}

/* Center each individual question, and display in 1 column */
.question__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.mail__to {
    color: rgb(30, 90, 255);
    font-weight: bold;
}

.questions__cta {
    margin-bottom: 3rem;
}

@media screen and (max-width: 800px) {
    .questions {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .question__paragraph {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 625px) {
    .questions {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .question__list {
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 400px) {
    .questions {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}