.pricing__tier {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem 1rem 4rem;
}

.pricing__price {
    font-size: 24pt;
    margin: 0;
}

.price__text {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

/* Button style: */
.pricing__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 34px;
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 50px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12pt;
    color: white;
    margin: 0;
}

.pricing__button:hover {
    color: black;
    background-color: white;
    transition: all .33s ease;
}

.pricing__tier-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pricing__visible {
    opacity: 1;
    /* transition: opacity .33s ease; */
    margin-top: -1rem;
    color: grey;
    font-size: 10pt;
    margin: -.25rem;
}

.pricing__hidden {
    opacity: 0;
    color: grey;
    font-size: 10pt;
    margin: -.25rem;
    /* transition: opacity .33s ease; */
}