/* Contianer for entire navbar with top and bottom padding */
.navbar__container {
    display: block;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;

    border-bottom: 1px solid lightgrey;
    background-color: white;

    z-index: 1000;
}

/* Container with left and right padding, left & right content */
.inner__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8rem;
    margin-right: 8rem;
}

/* Applying flex box to name & logo */
.navbar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image__logo {
    width: 50px;
}

/* Header 2 is Rocketstart title */
h2 {
    font-family: var(--font-family);

    /* Manipulating text within button: */
    font-weight: 600;
    font-size: 14pt;
}

/* Header 3 is menu items */
h3 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12pt;
}

/* Rightmost side of navbar with menu items and "Add to Chrome" button */
.navbar__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Product, Blog, About */
.menu {
    list-style-type: none;
    display: flex;
}

/* Individual menu item */
.menu__item {
    display: flex;
    padding-right: 3rem;
}

/* Justifying text and SVG within button */
.button__container {
    display: flex;
    justify-content: center;
}

/* Button style: */
.navbar__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background-color: dodgerblue;
    border-radius: 25px;
    border: 2px solid dodgerblue;

    cursor: pointer;

    font-weight: 600;
    font-size: 12pt;
    color: white;
    margin: 0;
}

.navbar__button:hover {
    color: black;
    background-color: white;
    transition: all .33s ease;
}