/* Testimonials header */
.testimonials {
    margin-bottom: 6rem;
}

/* Header and subheader of testimonial */
.testimonials__header {
    text-align: center;
    padding-top: 2rem;
}

/* Container with all three testimonials */
.testimonial__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 6rem;
}