/* Contains background and spans entire screen  */
.verification__bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0; left: 0; right: 0; bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 103vh;
    background-color: rgba(30,30,30,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1001;
}

/* Container with modal  */
.verification__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 30rem;
    background-color: white;
    border-radius: 10px;
    padding: 2rem 3rem 2rem 3rem;
    align-items: center;
    text-align: center;
}

/* Welcome message  */
.verification__modal-header {
    margin-bottom: 1rem;
}

/* Remaining modal text  */
.verification__modal-text {
    margin-bottom: 1rem;
}

.verification__modal-text-backup {
    margin: 0;
}

/* Bold for email highlight  */
.verification__modal-email {
    font-weight: 700;
}

.verification__modal-link {
    color: rgb(30,90,255);
}

.verification__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
    transition: all .33s ease;
}

/* Sign up button hover  */
.verification__button:hover{
    transform: scale(.98);
    background-color: rgb(30, 90, 255);
    transition: all .33s ease;
}

.verification__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verification__input {
    border: 3px solid black;
    height: 50px;
    width: 300px;
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-size: 16px;
    margin-bottom: 1rem;
    display: none;
}

.opened__verification-input {
    display: flex;
}

@media screen and (max-width: 1350px) {
    .verification__modal {
        margin: 5rem 25rem;
    }
}

@media screen and (max-width: 1200px) {
    .verification__modal {
        margin: 5rem 20rem;
    }
}

@media screen and (max-width: 1100px) {
    .verification__modal {
        margin: 5rem 15rem;
    }
}


@media screen and (max-width: 850px) {
    .verification__modal {
        margin: 5rem 10rem;
    }
}

@media screen and (max-width: 750px) {
    .verification__modal {
        margin: 5rem 5rem;
    }
}

@media screen and (max-width: 625px) {
    .verification__modal {
        margin: 5rem 2rem;
    }
}

@media screen and (max-width: 450px) {
    .verification__button {
        width: 80vw;
    }

    .verification__input {
        width: 80vw;
    }
}

@media screen and (max-width: 400px) {
    .verification__modal {
        margin: 5rem 1rem;
    }
}