.auth__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.auth__header {
    text-align: center;
}

.home__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin: 0;
    margin-bottom: 1rem;
    transition: all .33s ease;
}

/* Sign up button hover  */
.home__button:hover{
    transform: scale(.98);
    background-color: rgb(30, 90, 255);
    transition: all .33s ease;
}

.auth__result-paragraph {
    text-align: center;
}

@media screen and (max-width: 1050px) {
    .auth__result {
        width: auto;
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media screen and (max-width: 625px) {
    .auth__result {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .auth__result {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}