.privacy {
    margin: 6rem 6rem 8rem 8rem;
    font-family: var(--font-family);
}

.last__updated {
    margin-bottom: 2rem;
}

.privacy__header {
    margin-bottom: 1rem;
}

.privacy__list {
    padding-left: 2rem;
    margin-bottom: 2rem;
}