.privacy {
    margin: 6rem 6rem 8rem 8rem;
    font-family: var(--font-family);
}

.last__updated {
    margin-bottom: 2rem;
}

.privacy__header {
    margin-bottom: 1rem;
}

.privacy__list {
    padding-left: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
    .privacy {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media screen and (max-width: 625px) {
    .privacy {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .privacy {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}