.pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5rem 8rem 5rem 8rem;
}

.pricing__tiers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}