.pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3rem 8rem;
}

table {
    border-collapse:collapse;
    /* border: 1px solid grey; */
}

.pricing__table {
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
    /* padding: 2rem; */
    /* border-radius: 15px; */
}

.pricing__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pricing__period {
    text-align: center;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* padding: 4.75rem 1rem 1rem 1rem; */
}

.pricing__border-bottom {
    border-bottom: 1px solid grey;
}

.pricing__border-right {
    border-right: 1px solid grey;
}

.pricing__border-left {
    border-left: 1px solid grey;
}

.pricing__period-text {
    margin: 0;
    padding: .5rem;
    font-size: 10pt;
    color: grey;
    font-weight: 700;
}

.pricing__border {
    border-bottom: 1px solid lightgrey;
}

.pricing__feature-header {
    font-weight: bold;
    margin: 0;
    padding: 1rem 1rem .25rem 1rem;
}

.pricing__feature-sub {
    margin: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 14px;
    padding: .5rem 1rem .5rem 1rem;
}

.pricing__feature-spec {
    text-align: center;
    margin: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 14px;
}

.pricing__feature-padding {
    padding: 1rem;
}

.pricing__icon {
    text-align: center;
}

.pricing__period-container {
    display: flex;
    flex-direction: row;
    padding: 0rem 1rem 0rem 1rem;
}

.pricing__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.red {
    color: rgba(220, 50, 20, 1)
}

.green {
    color: rgba(100, 185, 35, 1);
}

.pricing__period-text_color {
    color: black;
}

/* Button start  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(30, 90, 255);
    -webkit-transition: .33s;
    transition: .33s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .33s;
    transition: .33s;
}

input:checked + .slider {
    background-color: rgb(30, 90, 255);
}

input:focus + .slider {
    box-shadow: 0 0 1px lightgrey;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Button end  */