/* Adding margin around the outer header container */
.header {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

/* Container with left content and right content */
.header__content-container {
    display: flex;
    flex-direction: row;
}

/* Header 1 is the hook text */
h1 {
    font-family: var(--font-family);
    font-size: 42pt;
    line-height: 1.25;
    margin-bottom: 2rem;
}

/* Paragraph is the sub text below the hook */
p {
    font-family: var(--font-family);
    font-size: 12pt;
    line-height: 1.5;
    margin-bottom: 2rem;
}

/* Left-most content flex so both columns are the same width */
.left__content {
    flex: 1 1 0px;
}

/* Adds margin between the header content columns without needing to add right or left margin to either class */
.middle__gutter {
    width: 8rem;
}

/* Right-most content flex so both columns are the same width */
.right__content {
    display: flex;
    flex: 1 1 0px;
    align-items: center;
}

/* Gif aspect ratio */
.rocketstart__demo {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Aligning text and Chrome SVG within button */
.button__container {
    display: flex;
    justify-content: center;
}

/* Button style: */
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    background-color: dodgerblue;
    border-radius: 50px;
    border-style: none;
}

/* Button text and image style */
.button__text {
    /* Manipulating button: */
    line-height: 1.5;
    margin: 0;
    white-space: nowrap;
    background-image: url('../../assets/chrome.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;

    /* Manipulating text within button: */
    padding-left: 2.25em;
    font-weight: 600;
    font-size: 14pt;
    color: white;
}