/* Message container */
.message {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.message__header {
    margin-bottom: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* Div for left and right columns */
.columns {
    /* padding: 1rem; */
    display: flex;
    flex-direction: row;
    /* gap: 1.5rem; */
}

/* Div for left column */
.left__column {
    display: flex;
    flex-direction: column;
    width: 75%;
    flex: 1;
    padding: 1rem;
}

/* Div for the right column */
.right__column {
    display: flex;
    width: 25%;
    flex-direction: column;
    padding: 1rem;
}

/* Insight information */
.insights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.column__outer-container {
    padding: 1rem;
}

/* Individual insight number structure */
.insight__number {
    min-width: 30px;
    max-width: 50px;

    text-align: center;
    padding: .5rem;
    border-left:solid lightgray
}

/* Slider area (used as a blank div) */
.insight__slider {
    display: flex;
    width: calc(100% - 5px);
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 8px;
}

/* Slider indicator rectangle */
.slider__rectangle {
    display: flex;
    position: relative;
    width: 5px;
    margin-top: -3px;
    background: black;

    transition: all 1s ease-out;

    z-index: 1;

    left: 0%;
}

/* Text input styles  */
/* TODO change max height? */
.text__area {
    /* min-height: 10rem; */
    /* max-height: 50vh; */
    text-align: left;
    padding: 1rem;
    resize: vertical;
    overflow: auto;
    border: solid lightgrey;
    box-shadow: 0 0.5em 1em -0.5em hsl(0deg 0% 5% / 10%), 0 0 0 1px hsl(0deg 0% 5% / 1%);
    font-family: var(--font-family);
    font-size: 16px;
}

/* When the text area is focused, theme the border */
.text__area:focus {
    outline: none;
    border: 2px solid rgb(30, 90, 255);
}

/* Number of characters, copy popup, copy button  */
.left__column-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Displays number of characters left  */
.character__counter {
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10pt;
    margin-left: 1.5rem;
    width: 100px;
}

/* Copy button  */
.copy__button {
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100px;
}

/* Container with copied to clipboard text and icon  */
.copied__container {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 1s;
}

/* Add class when the copy button is clicked  */
.fade__in {
    opacity: 1;
    transition: 0s;
}

/* Text to display when the copy text is clicked  */
.copied__text {
    margin: 0;
    font-family: var(--font-family);
    font-size: 10pt;
    color: grey;
    margin-right: 1rem;
}

/* Check for copied text  */
.copied__check {
    font-size: 24px;
    color: rgba(100, 185, 35, 1);
}

.insights__explanation {
    flex-direction: column;
}

/* Horizontal rule separating insights from explanations */
.horizontal__rule {
    display: flex;
    border-width: 0;
    height: 1px;
    width: 100%;
    background-color: gray;
    margin: 0;
}

.example__heading {
    font-size: 15px;
}

/* Contains both + and - verb examples */
.verb__example {
    padding: 1rem;
}

.bad__example {
    align-items: center;
    flex-direction: row;
    display: flex;
    margin: 0;
}

.good__example {
    align-items: center;
    flex-direction: row;
    display: flex;
    margin: 0;
}

.badExample, .goodExample {
    margin: 0;
    font-size: 14px;
    padding-bottom: 1rem;
}

.explanation__cross {
    color: rgba(220, 50, 20, 1);
    font-size: 20px;
    padding-right: .5rem;
    padding-bottom: 1rem;
}

.explanation__check {
    color: rgba(100, 185, 35, 1);
    font-size: 20px;
    padding-right: .5rem;
    padding-bottom: 1rem;
}

/* Class for adding link to Rocketstart website */
.learn__more {
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    font-size: 10pt;

    text-decoration: underline;
}

/* Class for words that need to be removed as part of Wording Insight */
.red {
    color: red;
}

.italicBold {
    font-style: italic;
    font-weight: bolder;
    font-size: 14px;
    margin: 0;
    padding: 1rem;
}

/* Question mark icon  */
.message__help {
    padding-left: 1rem;
    padding-right: 1rem;
    color: grey;
    font-size: 18px;
    cursor: pointer;
}

/* Explanation of the product  */
.help__text{
    transition: opacity .5s linear;
    margin: 0;
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    margin-right: 1rem;
}

.message__help:hover ~ .help__text{
    opacity: 1;
    width: auto;
    height: auto;
    line-height: inherit;
}

/* Shared by both Insight and Explanation components: */

/* Individual insight title structure */
.insight__title {
    padding: .5rem;
    font-size: 16px;
}

@media screen and (max-width: 1050px) {
    .message {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 925px) {
    .message {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .insight__title {
        font-size: 14px;
    }

    .columns {
        flex-direction: column;
    }

    .left__column {
        width: 100%;
    }

    .right__column {
        width: 100%;
    }

    .outer__container {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .message {
        padding-top: 2rem;
    }

    .outer__container {
        padding: .75rem;
    }

    .help__text {
        font-size: 12pt;
        text-align: center;
    }

    .message__header {
        justify-content: center;
        gap: 1rem;
        flex-direction: column;
        margin: 0;
    }

    .help__text {
        margin: 0;
    }
}