.call__to-action {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(227, 234, 255);
    border-radius: 10px;
}

.cta__header {
    margin-bottom: 1rem;
}

.cta__benefits {
    align-items: center;
    flex-direction: row;
    display: flex;
    padding-bottom: 0.5rem;
    margin: 0;
    gap: 1rem;
}

.cta__text {
    margin: 0;
}

.cta__benefit-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1100px) {
    .call__to-action {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 900px) {
    .cta__header {
        width: 50vw;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .call__to-action {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .cta__header {
        width: 300px;
    }
}

@media screen and (max-width: 625px) {
    .call__to-action {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .call__to-action {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
}